*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto 1fr 1fr 0.3rem;
    grid-template-areas: 
    'header header'
    'main main'
    'sidebar sidebar'
    'section section'
    'aside content'
    'trust trust'
    'contact contact'
    'footer footer'
    'copyright copyright'
    ;
}
.header{
    grid-area: header;
    background: rgb(247, 215, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0.5rem;
    z-index: 1;
    
}

.main{
    grid-area: main;
    background: radial-gradient(#fff, rgb(218, 160, 176));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sidebar{
    grid-area: sidebar;
    background: rgb(218, 218, 218);
    padding: 3rem;
}
.section{
    grid-area: section;
    background-color: rgb(237, 237, 237);
    padding: 3rem;
}
.aside{
    grid-area: aside;
    background-color: rgb(201, 202, 202);
    padding: 3rem 5rem;
}
.content{
    grid-area: content;
    background-color: rgb(201, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    grid-area: contact;
    margin-top: 3rem;
    padding: 2rem;
    background-color: #f4f4f4;
}
.footer{
    background: black;
    grid-area: footer;
    color: #8a8a8a;
    font-size: 12px;
    padding: 60px 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}
/* nav ul li{
    display: inline;
    list-style-type: none;
    padding: 0 0.6rem;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: rgb(128, 128, 128);
} */
.icons img{
    width: 2rem;
    height: 2rem;
    margin: 0 0.8rem;
}

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.col-2{
    padding: 1rem 1.5rem;
}
.text h2{
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
}
.text h3{
    font-size: 1.4rem;
    line-height: 3rem;
    text-transform: uppercase;
}
.text p{
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: rgb(70, 61, 61);
}
.btn{
    margin: 1.2rem 0;
    background: rgb(213, 116, 116);
    height: 2rem;
    width: 7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.btn a{ 
    color: rgb(19, 18, 18);
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.1);
    color: #fff;
    background: coral;
}
.row img{
    width: 80%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.col-4 {
    flex-basis: 25%;
    margin-top: 5px;
    transition: 0.5s;
  }
  .title {
    text-align: center;
    align-self: center;
    position: relative;
    color: rgb(31, 29, 29);
    margin-bottom: 2rem;
    line-height: 2.6rem;
  }
  .title::after {
    content: "";
    background: #ff523b;
    width: 8rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
.fa,
.fa-solid {
  color: #ff523b;
  margin: 0.4rem 0;
}
.col-4:hover {
  transform: translateY(-10px);
  box-shadow: 0.2rem 0.4rem 1rem #888888 ;
}
.col-4 p {
    font-size: 14px;
    margin: 0.5rem 0;
  }
.content img{
    border: 2px solid rgb(40, 38, 38);
    padding: 0.3rem;
}
form {
     max-width:420px;
     margin:50px auto;
     }

.feedback-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
     border:2px solid #CC4949;
 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
.select-input {
    color:rgb(70, 70, 70);
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .select-input:focus {
       border:2px solid #CC4949;
   }

.submit {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: 0.5s;
  margin-top:-4px;
  font-weight:700;
}
.submit:hover {
     background:#CC4949;
     }
     
.footer-col-1,
.footer-col-2,
.footer-col-3  {
  min-width: 250px;
  margin: 0 0 1.1rem 1.2rem;
}
.footer-col-1 {
    flex-basis: 30%;
    margin-left: 20px;
  }
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  .footer-col-3 ul li {
    list-style: none;
  }
  .footer-col-3 a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    padding: 0.2rem;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
.copyright{
    text-transform: uppercase;
    grid-area: copyright;
    display: flex;
    justify-content: center;
}
.trust{
    grid-area: trust;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}
.logo img{
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.5s;
    width: 10rem;
    height: 100%;
}
.logo img:hover{
    filter: grayscale(0);
}
.logo .text{    
background: #a5a4a4;
margin: -3rem;
padding: 8rem;
}

/* media querie */
@media screen and (max-width: 600px) {
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: auto auto auto auto auto auto auto 1fr 1fr 0.3rem;
        grid-template-areas: 
        'header'
        'main'
        'sidebar'
        'section'
        'aside'
        'content'
        'trust'
        'contact'
        'footer'
        'copyright'
        ;
    }
    .logo img{
        cursor: pointer;
        filter: grayscale(100%);
        transition: 0.5s;
    }
    .logo{
        display: flex;       
        flex-direction: column;
        align-items: center;
        
    }
    .content{
        padding: 2rem ;
    }
    .aside{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .aside .btn{
        margin: 1rem 40%;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .col-4 img{
        width: 60%;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col-2 img{
        width: 80%;
    }
    .main .btn{
        height: 3rem;
        width: 8rem;
        border-radius: 0.8rem;
        font-size: 1.2rem;
        position: relative;
        left: 40%;
    }
    
   
    }







@media screen and (max-width: 900px) {
    body{
        width: 80%;
    }
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto 1fr 1fr 0.3rem;
        grid-template-areas: 
        'header'
        'main'
        'sidebar'
        'section'
        'aside'
        'content'
        'trust'
        'contact'
        'footer'
        'copyright'
        ;
    }
    .trust img{
        cursor: pointer;
        filter: grayscale(100%);
        transition: 0.5s;
        width: 5rem;
        height: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .content{
        padding: 2rem;
    }
    .header{
        display: inline-flex;
    }
    .logo{
        width: 80%;
        display: flex;
        justify-content: center;
    }
       .icons{
        display: inline-flex;
    }
}
